.nav {
  z-index: 2;
  display: flex;
  width: 100%;
  top: 0;
  left: 100%;

  position: absolute;
  margin-left: 0%;
  height: 100vh;
  animation: navbarTrue .5s forwards;
  &__container {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: rgba(255, 255, 255, 1);
  }
  &__overlay  {
    width: 65%;
    background-color:rgba(0, 0, 0, .8);
  }
  &--off {
    animation: navbarFalse .5s ease-in forwards;
  }
  &__cross {
    padding-top: .5em;
    align-self: center;
    margin-bottom: 2em;
    width: 20%;
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__link {
    margin-bottom: 1.5em;
    cursor: pointer;
    user-select: none;
  }
}



@keyframes navbarTrue {
  0% {
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes navbarFalse {
  0% {
    display: hidden;
    left: 0;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
