.grid2 {
  justify-content: center;
  &__header-ref {
    height: 1%;
    background-color:red;
    margin-left: 2em;
  }
  &__break-line {
    display: block;
    margin-bottom: 1em;
  }
  &--on {
    overflow-y: hidden;
  }
  &__ellipse {
    position: absolute;
    top: 0;
    left: 0;
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
    opacity: .8;
    z-index: 1;
    width: 100%;
    // overflow-x: hidden;
    // transform: scale(2);
    box-sizing: content-box;
    height: 90%;
    background-image: url(../../assets/images/ellipseBlue.webp);
    background-repeat: no-repeat;
    background-position: 40% 40%;
    background-size: 210%;
  }
  &__text-container {
  grid-area: text;
  display: flex;
  border: 2px solid black;
  border-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  &__text {
    opacity: 0;
    width: 90%;
    line-height: 1.8;
    font-weight: bold;
    text-align: center;
    &--modifier {
      animation: slideShow 1s 200ms forwards;
      line-height: 1.8;
    }
  }
  &__ref {
    grid-area: ref;
    border: 2px solid black;
    border-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 .4em;
  }
  &__img-container {
    grid-area: image;
    border: 2px solid black;
    border-top: 0;
  }
  &__img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  &__social {
    opacity: 0;
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    // max-width: 100px;
    // max-height: 100px;
    &--modifier1 {
      animation: slideShow 1s 100ms forwards;
    }
    &--modifier2 {
      animation: slideShow 1s 300ms forwards;
    }
    &--modifier3 {
      animation: slideShow 1s 500ms forwards;
    }
  }
  &__social--img {
    width: 50%;
    max-height: 80px;
  }
  display: grid;
  height: 100%;
  grid-template-columns: 15% 50% 20% 15%;
  grid-template-rows: 50% 40% 10%;
  grid-template-areas:
  ". text text ."
  ". image image ."
  ". ref ref .";
}


@keyframes slideShow {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;

  }
}

// Mobile
@media screen and (max-width: 400px) {
  .grid2 {
    &__text {
      font-size: .9em;
    }
  }
}

@media screen and (max-width: 320px) {
  .grid2 {
    &__text {
      font-size: .8em;
    }
  }
}

// Tablets
@media screen and (min-width: 750px) {
  .grid2 {
    &__text {
      font-size: 1.6em;
    }
    &__social {
      width: 20%;
    }
    &__img {
      height: auto;
    }
  }
}

// Desktop

@media screen and (min-width: 1024px) {
  .grid2 {
    &__ellipse {
      background-size: 100%;
      background-position: 100% 50%;
    }
    display: grid;
    height: 100%;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 50% 40% 10%;
    grid-template-areas:
    ". text image ."
    ". text image ."
    ". ref ref .";
    &__img {
      object-fit: cover;
      height: 100%;
    }
    &__social--img {
      width: 25%;
    }
    &__text {
      font-size: 1.9em;
    }
  }

}
