.container {
  background-color: #6C9A8B;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: 100vw;
  position: fixed;
  top: 10%;
  left: 10px;
  width: 5px;
  &__bar {
    width: 5px;
    background-color: black;
    z-index: 3;
  }
}


@media screen and (max-width: 350px) {
  .container {
    height: 90vw;
  }
}

@media screen and (min-width: 750px) {
  .container {
    height: 70vw;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: 55vh;
    width: 10px;
    left: 100px;
    &__bar {
      width: 10px;
    }
  }
}
