.work {
  border: 2px solid black;
  width: 100%;
  height: 33vh;
  border-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  &__description {
    font-weight: normal;
    font-size: .9em;
    width: 97%;
    line-height: 1.2;
    text-overflow: clip;
    white-space:unset;
    opacity: 0;
    &--modifier {
      animation: slideShow 2s 300ms forwards;
    }
    &-ref {
      position: absolute;
      bottom: 50%;
    }
  }
  &__infos {
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
    margin-left: 1em;
  }
  &__title{
    margin-top: .4em;
    opacity: 0;
    // margin-left: .1em;
    &--modifier {
      animation: slideShow 2s 300ms forwards;
    }
    &-ref {
      position: absolute;
      top: 19%;
    }
  }
  &__links {
    height: 30%;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    &--modifier {
      animation: slideShow .5s 300ms forwards;
    }
  }
  &__github {
    width: 30px;
    // margin-bottom: .4em;
    // margin-left: .8em;
    align-self: flex-end;
    cursor: pointer;
  }
  &__links-container {
    display: flex;
    height: 50%;
    align-items: center;
    cursor: pointer;
  }
  &__learn-more {
    margin-right: .5em;
    text-align: center;
    font-size: .8em;
  }
  &__links-ref {
    background-color: red;
    position: absolute;
    bottom: 0;
  }
}

@keyframes slideShow {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;

  }
}


@media screen and (max-width: 400px) {
  .work {
    &__title {
      font-size: 1.1em;
    }
    &__description {
      font-size: .9em;
      padding-right: .6em;
      letter-spacing: 1px;
    }
    &__github {
      margin: 0;
    }
  }
}

@media screen and (max-width: 350px) {
  .work  {
    &__description {
      padding-top: .4em;
      font-size: .7em;
    }
    &__learn-more {
      font-size: .7em;
    }
  }
}



@media screen and (min-width: 750px) {
  .work {
    &__title {
      font-size: 2em;
    }
    &__description {
      font-size: 1.4em;
      line-height: 1.3;
    }
    &__github {
      width: 60px;
      height: 60px
    }
    &__learn-more {
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 1024px) {
  .work {
    width: 50%;
    &--modifier {
      border-left: 0px;
    }
    &__description {
      font-size: 1em;
    }
    &__title {
      font-size: 1.6em;
    }
    &__infos {
      margin-left: 1.5em;
    }
    &__links {
      margin-left: 1.5em;
    }
    &__github {
      width: 70%;
    }
    &__learn-more {
      font-size: 1.1em;
    }
  }
}
